html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    margin: 0
}

header {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #fff
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

img {
    vertical-align: middle
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:376px) {
    .container {
        width: 750px
    }
}

@media(min-width:668px) {
    .container {
        width: 970px
    }
}

@media(min-width:769px) {
    .container {
        width: 1170px
    }
}

@media(min-width:1025px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media(max-width:375px) {
    .hidden-xs {
        display: none!important
    }
}

@media(min-width:376px) and (max-width:667px) {
    .hidden-sm {
        display: none!important
    }
}

@media(min-width:668px) and (max-width:768px) {
    .hidden-md {
        display: none!important
    }
}

@media(min-width:769px) and (max-width:1024px) {
    .hidden-lg {
        display: none!important
    }
}

@media(min-width:1025px) {
    .hidden-xl {
        display: none!important
    }
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    color: #333;
    -ms-filter: "alpha(opacity=1)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}

.fixed-container {
    height: inherit;
    max-width: 1430px;
    max-width: 89.375rem;
    margin: auto
}

#footer-widget:not(#rr-placement),
.feature-carousel-container:not(#rr-placement),
.feature-tiles-container:not(#rr-placement),
.small-offer-tiles:not(#rr-placement) {
    overflow-x: hidden
}

.table-container {
    background-color: transparent;
    display: table;
    min-width: 100%;
    table-layout: auto;
    margin: 0
}

#header-widget {
    z-index: 20011;
    position: relative;
    background: #eee;
}

@media(max-width:1024px) {
    #header-widget {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
    }
}

#header-widget .parent {
    position: relative;
    padding: 10px 0;
    padding: .625rem 0
}

@media(max-width:768px) and (min-width:668px) {
    .bd-specific #header-widget .parent {
        padding: 25px 0 10px;
        padding: 1.5625rem 0 .625rem
    }
    .bd-specific #header-widget .custom-hidden-md {
        display: none!important
    }
  }

@media(min-width:668px) and (max-width:1024px) {
    #header-widget .parent {
        padding-top: 0
    }
}

#header-widget .logo {
    padding-right: 25px;
    padding-right: 1.5625rem
}

#header-widget .logo img {
    max-width: 271px;
    max-width: 16.9375rem
}

#header-widget .logo img.bd-logo.logo-ca {
    padding-top: 28px;
    padding-top: 1.75rem
}

#header-widget .logo-small {
    margin-bottom: 10px;
    margin-bottom: .625rem
}

@media(max-width:667px) {
    #header-widget .logo-small {
        float: left
    }
}

#header-widget .logo-small img.bc-logo.logo-us {
    height: 35.3px;
    height: 2.20625rem;
    width: 120px;
    width: 7.5rem
}

@media(min-width:668px) {
    #header-widget .logo-small img.bc-logo.logo-us {
        height: 55.9px;
        height: 3.49375rem;
        width: 190px;
        width: 11.875rem
    }
}

#header-widget .logo-small img.bd-logo.logo-us {
    height: 35.6px;
    height: 2.225rem;
    width: 120px;
    width: 7.5rem
}

@media(min-width:668px) {
    #header-widget .logo-small img.bd-logo.logo-us {
        height: 56.4px;
        height: 3.525rem;
        width: 190px;
        width: 11.875rem
    }
}

html {
    min-width: 0!important;
}

@media(min-width:1025px) {
    #header-widget {
        box-shadow: none
    }
    #header-widget .parent {
        padding: 20px 0;
        padding: 1.25rem 0
    }
}