html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 0!important
}

body {
    margin: 0
}

header {
    display: block
}

/* ======= Sign-in Form Styling ====*/
.form-signin {
    max-width: 400px;
    padding: 25px 30px 25px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5vh;
}

.intro, .divider, .signUp {
    text-align: center
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 10;
    background-color: #eee
}

.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-radius: 10;
    background-color: #eee
}

.form-signin a:link {
    color: #337ab7
}

.form-signin a:focus,
.form-signin a:hover {
    color: #23527c;
    text-decoration: underline;
    outline: 0;
    cursor: pointer !important
}

.form-signin a:visited {
    color: #337ab7
}

.form-signin .entry-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: none !important
}

.form-signin label {
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.1
}

.form-signin input[type=text],
.form-signin input[type=email],
.form-signin input[type=password] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 18px 18px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100% !important;
    line-height: 1.42857143;
    color: #000;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-signin input[type=text] {
    margin-bottom: -1px;
    border-radius: 10;
    background-color: #eee
}

.form-signin input[type=password] {
    margin-bottom:10px;
    border-radius: 10;
    background-color: #eee
}

.form-signin .buttons {
    margin-top: 0;
    padding-top: 0
}

.form-signin .buttons button {
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    line-height: 1px;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    font-family: "Helvetica", "Open Sans", Arial, sans-serif;
    width: 100% !important;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    height: 68px !important;
    color: #fff;
    background-color: #007da4;
    border: none;
    text-transform: none
}

@media only screen and (max-width:759px) {
    .form-signin .buttons button {
        font-size: 18px !important
    }
}

.form-signin .buttons button:hover,
.form-signin .buttons button:focus,
.form-signin .buttons button:active,
.form-signin .buttons button:active:focus,
.form-signin .buttons button:active:hover,
.form-signin .buttons button.active:hover {
    color: #fff;
    text-decoration: none !important;
    transition: opacity .5s ease;
    opacity: .75;
    background-color: #007da4 !important;
    cursor: pointer
}

.form-signin .buttons button:active,
.form-signin .buttons button.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important
}

.form-signin .create {
    text-align: left;
    margin-top: 10px
}

.form-signin #api {
    padding-bottom: 0
}

.form-signin #next {
    margin-top: 20px
}

/*==================================*/

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

figure {
    margin: 1em 40px
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #fff
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 0
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.small,
small {
    font-size: 85%
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media(min-width:376px) {
    .container {
        width: 750px
    }
}

@media(min-width:668px) {
    .container {
        width: 970px
    }
}

@media(min-width:769px) {
    .container {
        width: 1170px
    }
}

@media(min-width:1025px) {
    .container {
        width: 1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid:after,
.container-fluid:before {
    content: " ";
    display: table
}

.container-fluid:after {
    clear: both
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media(min-width:376px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

@media(max-width:375px) {
    .hidden-xs {
        display: none!important
    }
}

@media(min-width:376px) and (max-width:667px) {
    .hidden-sm {
        display: none!important
    }
}

@media(min-width:668px) and (max-width:768px) {
    .hidden-md {
        display: none!important
    }
}

@media(min-width:769px) and (max-width:1024px) {
    .hidden-lg {
        display: none!important
    }
}

@media(min-width:1025px) {
    .hidden-xl {
        display: none!important
    }
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    color: #333;
    -ms-filter: "alpha(opacity=1)";
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}

p {
    line-height: 24px;
    line-height: 1.5rem
}

a {
    color: #0060a9
}

a:visited {
    text-decoration: none!important
}

a:hover {
    color: #0060a9
}

a:hover h3 {
    text-decoration: none!important
}

input.form-control {
    height: 40px;
    height: 2.5rem;
    font-size: 16px;
    font-size: 1rem;
    color: #333;
    border-color: #9c9c9c
}

h2,
h3,
label {
    font-weight: 400
}

ol,
ul {
    list-style-type: none;
    list-style: none;
    padding: 0
}

button {
    border-radius: 0
}

.fixed-container {
    height: inherit;
    max-width: 1430px;
    max-width: 89.375rem;
    margin: auto
}

#footer-widget:not(#rr-placement),
.feature-carousel-container:not(#rr-placement),
.feature-tiles-container:not(#rr-placement),
.small-offer-tiles:not(#rr-placement) {
    overflow-x: hidden
}

.table-container {
    background-color: transparent;
    display: table;
    min-width: 100%;
    table-layout: auto;
    margin: 0
}

#header-widget {
    z-index: 20011;
    position: relative;
    background: #eee
}

@media(max-width:1024px) {
    #header-widget {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
    }
}

#header-widget .parent {
    position: relative;
    padding: 10px 0;
    padding: .625rem 0
}

@media(min-width:668px) and (max-width:1024px) {
    #header-widget .parent {
        padding-top: 0
    }
}

#header-widget .logo {
    padding-right: 25px;
    padding-right: 1.5625rem
}

#header-widget .logo img {
    max-width: 271px;
    max-width: 16.9375rem
}

#header-widget .logo img.bd-logo.logo-ca {
    padding-top: 28px;
    padding-top: 1.75rem
}

#header-widget .logo-small {
    margin-bottom: 10px;
    margin-bottom: .625rem
}

@media(max-width:667px) {
    #header-widget .logo-small {
        float: left
    }
}

#header-widget .logo-small img.bc-logo.logo-us {
    height: 35.3px;
    height: 2.20625rem;
    width: 120px;
    width: 7.5rem
}

@media(min-width:668px) {
    #header-widget .logo-small img.bc-logo.logo-us {
        height: 55.9px;
        height: 3.49375rem;
        width: 190px;
        width: 11.875rem
    }
}

#header-widget .logo-small img.bd-logo.logo-us {
    height: 35.6px;
    height: 2.225rem;
    width: 120px;
    width: 7.5rem
}

@media(min-width:668px) {
    #header-widget .logo-small img.bd-logo.logo-us {
        height: 56.4px;
        height: 3.525rem;
        width: 190px;
        width: 11.875rem
    }
}

@media(min-width:1025px) {
    #header-widget {
        box-shadow: none
    }
    #header-widget .parent {
        padding: 20px 0;
        padding: 1.25rem 0
    }
}